# IDEs e editores
.idea/
*.iml
*.log
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Compilação
/target/
/bin/
/build/

# Dependências
/.mvn/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/mvnw
!**/src/main/**/mvnw.cmd

# Logs
target/logs/
*.log

# Credenciais e configurações locais
.env
application.properties
application.yml

# Cache
/.gradle/
/.m2/

# Arquivos temporários
*.swp
*.swo

# Arquivos de teste
/test-output/
/.classpath
/.project
/.settings/

# Docker
/docker-compose.override.yml
/docker-compose.yml
/.docker/
/.env.docker
